/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    color: black;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.left, .right {
    width: 48%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

textarea:focus {
    outline: none;
    border-color: #4CAF50;
}

#msg {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.right h3 {
    color: #4CAF50;
    margin-bottom: 20px;
}

#posts div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#posts div p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.options i {
    margin-left: 10px;
    cursor: pointer;
    color: #555;
    font-size: 18px;
}

.options i:hover {
    color: #4CAF50;
}

.options .fa-trash:hover {
    color: red;
}
